div {
    color: #2d4059;
}

.board {
    width: 100%;
    max-width: 400px;
    background-color: #2d4059;
    min-width: 300px;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    display: flex;
    flex: 1;
    height: 100px;
    background-color: #ffd460;
    margin: 2px;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}