* {
    font-family: 'Comic Sans MS', 'Comic Sans';
}

p {
    color: white;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d4059;
    flex-wrap: wrap;
}

#main {
    display: flex;
    flex-wrap: wrap-reverse;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    min-height: 80vh;
}

#settings {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.inputname {
    border-radius: 10px;
    padding: 5px;
    outline: 0;
}

#game {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#suggestions {
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 200px;
}

button {
    padding: 10px;
    border-width: 0;
    width: 100px;
    color: white;
    background-color: #2d4059;
    border-radius: 10px;
    border-color: white;
    border-width: 1px;
    min-width: 120px;
    outline: none;
    margin-top: 20px;
}

button:active {
    background-color: #ffd460;
    color: #2d4059;
}